$pc: 1200px;
$tab: 768px;
$sp: 480px;
@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
@function percent($number0) {
  @return percentage($number0*0.01)
}
$List : width,height;
$xyz : x,y,z,X,Y,Z;
$rotate : '','-reverse';
$speed : fast,slow,normal,veryfast,varyslow;
@each $haba in $List {
  @for $number from 1 through 100 {
    .#{$haba}-#{$number} {
      @if $haba == width {
        width: percent($number);
      }
      @else {
        height: percent($number);
      }
    }
  }
}
@for $number1 from 1 through 6 {
  .h#{$number1} , h#{$number1} {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    @if $number1 == 1 {
      font-size: calc(1.375rem + 1.5vw);
      @include pc {
        font-size: 2.5rem;
      }
    }
    @else if $number1 < 5 {
      $number2 : (1.3 + (0.001 * (75 - (25 * $number1)))) * 1rem;
      $number3 : (3 * (9 - $number1)) * .1vw;
      font-size: calc(#{$number2} + #{$number3});
      @include pc {
        font-size: 2 - (0.25 * ($number1 - 2)) * 1rem;
      }
    }
    @else {
      font-size: (1.5 - (($number1 - 4) * 0.25)) * 1rem;
    }
  }
}
:root:has(.scroll-smooth) {
  scroll-behavior: smooth;
}
:root:has(.scroll-auto):not(:root:has(.scroll-smmooth)) {
  scroll-behavior: auto;
}
@each $location in $xyz {
  @each $rotate0 in $rotate {
    @keyframes rotate-#{$location}#{$rotate0} {
      $rotated1 : if(to-lower-case($location) == x or to-lower-case($location) == y , to-upper-case($location) ,'') + "(360deg)";
      $rotated2 : if(to-lower-case($location) == x or to-lower-case($location) == y , to-upper-case($location) ,'') + "(0deg)";
      $rotated01 : if($rotate0 == '' , unquote(#{$rotated1}) , unquote(#{$rotated2}));
      $rotated02 : if($rotate0 == '' , unquote(#{$rotated2}) , unquote(#{$rotated1}));
      0% {
        transform: rotate#{$rotated02};
      }
      100% {
        transform: rotate#{$rotated01};
      }
    }
    .rotate-#{$location}#{$rotate0} {
      animation-name: rotate-#{$location}#{$rotate0};
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-timing-function: linear;
      display: inline-block;
    }
  }
}
@each $speed2 in $speed {
  .animation-speed-#{$speed2} {
    @if $speed2 == fast {
      animation-duration: 1s;
    }
    @else if $speed2 == slow {
      animation-duration: 3s;
    }
    @else if $speed2 == normal {
      animation-duration: 2s;
    }
    @else if $speed2 == varyfast {
      animation-duration: 0.5s;
    }
    @else if $speed2 == varyslow {
      animation-duration: 4s;
    }
  }
}
.check-success {
  content: ' ';
  width: 10px;
  height: 5px;
  border-left: 2px solid #25AF01;
  border-bottom: 2px solid #25AF01;
  transform: rotate(-45deg);
}
.check-failure {
  content: ' ';
  width: 10px;
  height: 5px;
  border-left: 2px solid #ea5550;
  border-bottom: 2px solid #ea5550;
  transform: rotate(-45deg);
}
.btn {
  &:empty {
    display: none;
  }
  background-color: silver;
  font-size: 20px;
  font-weight: bold;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  border-radius: 10px;
  &:active {
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-left: 2px solid black;
    border-top: 2px solid black;
    margin-top: 3px;
    margin-left: 3px;
  }
}
.dropdown {
  position: relative;
  .dropdown-switch {
    background-color: grey;
    margin: 0;
    text-decoration: none;
    color: var(--color,black);
  }
  &-menu {
    background-color: #606060;
    margin: 0;
    clear: black;
    position: absolute;
    width: 100%;
  }
  &:not(.dropdown:has(.dropdown-switch:hover ~ .dropdown-menu , .dropdown-switch ~ .dropdown-menu:hover)) .dropdown-menu:not(.dropdown-menu:has(.dropdown .dropdown-close:hover)){ 
    display: none;
  }
  &:has(.dropdown-switch:hover ~ .dropdown-menu , .dropdown-switch ~ .dropdown-menu:hover , .dropdown:has(&-close:active)) &-switch:after {
    content: "▲";
    background-color: silver;
    margin: 1;
    color: black;
    font-size: 50%;
  }
  &:not(&:has(.dropdown-switch:hover ~ .dropdown-menu , .dropdown-switch ~ .dropdown-menu:hover) , .dropdown:has(&-close:active)) &-switch:after {
    content: "▼";
    background-color: silver;
    margin: 1;
    color: black;
    font-size: 50%;
  }
}
ul , ol {
  &.sterlist {
    list-style: none;
    li {
      &:before {
        display: inline-block;
        content: " ";
        background-color: yellow;
        height: 10px;
        width: 10px;
        clip-path: polygon(50% 5%, 61% 40%, 98% 40%, 68% 62%, 79% 96%, 50% 75%, 21% 96%, 32% 62%, 2% 40%, 39% 40%);
      }
    }
  }
}
.on-off {
  label.on-off-label {
    input[type="checkbox"].on-off-box {
      display: none;
    }
  }
  &:not(:has(input[type="checkbox"].on-off-box:checked)){
    .on-off-menu{
      display: none;
    }
    label.on-off-label {
      white-space: nowrap;
      background-color: var(--backcolor,silver);
      &:after {
        content: "▼";
        font-size: 20%;
      }
    }
  }
  &:has(input[type="checkbox"].on-off-box:checked) {
    label.on-off-label {
      white-space: nowrap;
      background-color: var(--backcolor,silver);
      &:after {
        content: "▲";
        font-size: 20%;
      }
    }
  }
  &-menu , &-label{
    margin: 0;
    white-space: nowrap;
    background-color: var(--backcolor,silver);
  }
}
@for $number4 from 1 through 10 {
  .big-#{$number4} {
    $number5: (1.675 - ($number4 * 0.05)) * 1rem;
    $number6: (5.1 - (0.6 * $number4)) * 1vw;
    margin: 0;
    font-size: calc(#{$number5} + #{$number6});
    font-weight: 300;
    line-height: 1.2;
    @include pc {
      font-size: (5.5 - ($number4 * 0.5)) * 1rem;
    }
  }
}
:is(ul,ol).noliststyle {
  list-style: none;
}
.detail {
  content: " ";
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ccircle cx='256' cy='256' r='64'/%3E%3Ccircle cx='256' cy='448' r='64'/%3E%3Ccircle cx='256' cy='64' r='64'/%3E%3C/svg%3E%0A");
}